[Unit]
 Description=Autoassemble MDADM Arrays
 DefaultDependencies=no
 Requires=systemd-udev-settle.service
 After=systemd-udev-settle.service
 ConditionPathIsDirectory=/etc/mdadm/
 ConditionPathExists=/etc/mdadm/mdadm.conf

[Service]
 Type=forking
 ExecStart=/usr/local/bin/mdadm-assemble start
 TimeoutSec=15
 StandardOutput=syslog
 StandardError=syslog
 RemainAfterExit=yes
 SysVStartPriority=99

[Install]
 WantedBy=sysinit.target
